.card-wrapper {
    color: inherit;
    height: 100%;
    position: relative;
    text-decoration: none;
}

@media screen and (min-width: 990px) {
    .card .media.media--hover-effect>img:only-child,
    .card-wrapper .media.media--hover-effect>img:only-child {
        transition: transform var(--duration-long) ease;
    }

    .card:hover .media.media--hover-effect>img:first-child:only-child,
    .card-wrapper:hover .media.media--hover-effect>img:first-child:only-child {
        transform: scale(1.00);
    }

    .card-wrapper:hover .media.media--hover-effect>img:first-child:not(:only-child) {
        opacity: 0;
    }

    .card-wrapper:hover .media.media--hover-effect>img+img {
        opacity: 1;
        transition: transform var(--duration-long) ease;
        transform: scale(1.00);
    }

    .underline-links-hover:hover a {
        text-decoration: underline;
        text-underline-offset: 0.3rem;
    }
}